/bootstrap/compiled.php
/bootstrap
/vendor
artisan
config
phpunit.xml
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
.idea/
info/
server.php
HEAD
composer.json
description
hooks/
.gitattributes